.container{
  color: black;
  text-decoration: none;
}

.container hr{
  border: 2px solid black;
}

.content{
  color: black;
  background-color: #FFF;
  border: 1px solid rgb(214, 214, 214);
  box-shadow: 1px 4px 8px 1px black;
  margin: auto;
  border-radius: 3%;
  text-decoration: none;
  margin-bottom: 8px;
}

.col-md-5 p{
  color: white;
  font-family: 'Lusitana', serif;
  font-size: 113px;
  margin: auto;
  border-radius: 3%;
  box-shadow: 0px 0px 0px 1px black;
  background-color: #499869;
  text-align: center;
  border: 1px solid rgb(214, 214, 214);
  border-color: #499869;
}

.col-md-5 a{
  text-decoration: none;
}

.content:hover{
  border-color: black;
  text-decoration: none;
}

.col-md-5 p:hover{
  border-color: black;
  color: black;
  text-decoration: none;
}

.petition-page{
  text-decoration: none;
  color: black;
}

.petition-page:hover{
  text-decoration: none;
  color: black;
}

.col-md-7 button {
  margin-bottom: -5px;
  margin-left: 100px;
}

.card-body {
  margin-top: -80px
}

.nonadmin{ 
  margin-top: 55px;
  color: white;
}

.create {

  text-align: center;
}

.fa-tasks{
  color: gray;
}

.fa-spinner{
  color: orange;
}

.fa-times-circle{
  color: red;
}

.fa-check-square{
  color: green;
}

.center{
  text-align: center;
  margin-top: -18px;
  margin-bottom: -20px;
}

.progressselect{
  margin-top: 11px;
  float: right;
}
  
