@import url('https://fonts.googleapis.com/css2?family=Lusitana&display=swap');
body {
  font-family: 'Lusitana', serif;
  background-color: #F5F5F5;
  margin: 0;
}

.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #005F40;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav img {
  border-radius: 50%;
  margin-bottom: 20px;
}

.insidenav {
  padding: 6px 6px 6px 32px;
  text-decoration: none;
  font-size: 25px;
  color: gray;
  display: block;
}

.sidenav a:hover {
  color: white;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  text-decoration: none;
  font-size: 30px;
  color: gray;
  display: block;
}

.hide {
  display: none;
}
    
.myDIV:hover + .hide {
  margin: auto;
  text-decoration: none;
  font-size: 17px;
  color: #A0E19D;
  display: block;
  margin-top: -20px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px 0 black;
  max-width: 300px;
  text-align: center;
  background-color: #2E794D;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.topnav {
  width: 100%;
  background-color: #409145;
  overflow: auto;
}

.topnav a {
  float: left;
  text-align: center;
  padding: 0px;
  color: white;
  text-decoration: none;
  font-size: 0px;
  font-family: 'Lusitana', serif;
  transition: 0.3s;
}

.topnav a[id="logo"] img
{
  margin: auto;
  width: 125px;
}

.topnav a[id="sdnav-button"]
{
  margin: 0 5px 0 5px;
}

.topnav a:hover {
  background-color: #134516;
  color: #A0E19D;
}

@media screen and (max-width: 500px) {

  .topnav a {
    float: none;
    display: block;
  }

}

.link img {
  position: fixed;
  bottom: 10px;
  right: 10px;
  border-radius: 50%;
}

.menu a {
  float:right;
  text-align: center;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
}

#sdnav{
  width: 0px;
}

.page-content
{
  height: 100vh;
  width: 100vw;
  padding: 2%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.container
{
 font-family: 'Lusitana', serif;
}

button[class*="btn-primary"]{
  font-family: 'Lusitana', serif;
  background-color: #005F40;
  border-color: #005F40;
  margin: 2px;
}

button[class*="btn-primary"]:hover{
  background-color: #2E794D;
} 
